*{
    margin: 0;
    padding: 0;
}



.app{
    text-align: center;
}

.task-box{
    
    margin-bottom: 50px;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
}